<%- include('../partials/header'); -%>

    <main class="container">
        <!-- Sección 1 - Cart principal -->

        <% if (dataRecibida && dataRecibida.length > 0) { %>
            
            <% dataRecibida.forEach(productoRecibido => { %>
        
                <section class="collection container">
                    <picture class="collection__cover">
                        <img src="<%= productoRecibido.prod_imagen_frontal %>" alt="<%= productoRecibido.prod_nombre %>">
                    </picture>
                    <article class="collection__content">
                        <p class="collection__text__superior"><%= productoRecibido.prod_licencia %></p>
                        <h3 class="collection__title"><%= productoRecibido.prod_nombre %></h3>
                        <p class="collection__text"><%= productoRecibido.prod_descripcion %></p>
                        <p class="collection__price">$&nbsp;<%= productoRecibido.prod_precio %></p>
                        <form class="collection__form" action="">
                            <input class="collection__input" placeholder="0" type="number">
                            <div class="collection__form__buttons">
                                <iconify-icon icon="ic:sharp-add-box" style="color: #4f4f4f;" width="16" height="18" flip="horizontal,vertical"></iconify-icon>
                                <iconify-icon icon="material-symbols:chips-sharp" style="color: #4f4f4f;" width="16" height="18" flip="horizontal,vertical"></iconify-icon>
                            </div>
                            <button class="collection__button" type="submit">Agregar al carrito</button>
                        </form>
                        <p class="collection__text__inferior">
                            <a class="collection__link_pago" href="#">Ver métodos de pago</a> - <%= productoRecibido.prod_cuotas %> <% if (productoRecibido.prod_intereses == true){ %> CUOTAS CON INTERÉS <% } else { %> CUOTAS SIN INTERÉS  <% } %>
                        </p>
                    </article>
                </section>
        
            <% }) %>

        <% } else { %>

            <section style="border: 3px solid crimson; display: inline-block; padding: 30px; margin: 30px;">
                <h3>El ID de producto solicitado No Existe</h3>
                <h3>Rellenar este mensaje, darle formato y estilo agradable con alguna imagen y poner boton que envie a SHOP donde se ven todos los productos</h3>
            </section> 

        <% } %>


        <!-- Sección 2 - Productos relacionados -->
        <section class="slider container">
            <h2 class="slider__title">PRODUCTOS RELACIONADOS</h2>
            <ul class="slider__items">
                <li class="slider__item">
                    <article class="card-item">
                        <span class="card-item__tag">NUEVO</span>
                        <a class="card-item__link" href="#">
                            <picture class="card-item__cover">
                                <img class="card-item__img--front" src="/images/star-wars/trooper-1.webp"
                                    alt="Figura coleccionable Funko de un Stormtroope">
                                <img class="card-item__img--back" src="/images/star-wars/trooper-box.webp"
                                    alt="Figura coleccionable Funko de un Stormtroope en caja">
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__license">STAR WARS</p>
                                <h3 class="card-item__name">STORMTROOPER LIGHTSABER</h3>
                                <p class="card-item__price">$ 1799,99</p>
                                <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <li class="slider__item">
                    <article class="card-item">
                        <span class="card-item__tag">NUEVO</span>
                        <a class="card-item__link" href="#">
                            <picture class="card-item__cover">
                                <img class="card-item__img--front" src="/images/pokemon/pidgeotto-1.webp"
                                    alt="Figura coleccionable Funko de un Pidgeotto">
                                <img class="card-item__img--back" src="/images/pokemon/pidgeotto-box.webp"
                                    alt="Figura coleccionable Funko de un Pidgeotto en caja">
                            </picture>
                            <div class="card-item__content">
                                <p class="card-item__license">POKEMON</p>
                                <h3 class="card-item__name">PIDGEOTTO</h3>
                                <p class="card-item__price">$ 1799,99</p>
                                <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                            </div>
                        </a>
                    </article>
                </li>
                <li class="slider__item">
                    <article class="card-item">
                        <div>
                            <span class="card-item__tag">NUEVO</span>
                            <a class="card-item__link" href="#">
                                <picture class="card-item__cover">
                                    <img class="card-item__img--front" src="/images/harry-potter/luna-1.webp"
                                        alt="Figura coleccionable Funko de Luna">
                                    <img class="card-item__img--back" src="/images/harry-potter/luna-box.webp"
                                        alt="Figura coleccionable Funko de Luna en caja">
                                </picture>
                        </div>
                        <div class="card-item__content">
                            <p class="card-item__license">HARRY POTTER</p>
                            <h3 class="card-item__name">LUNA LOVEGOOD LION MASK</h3>
                            <p class="card-item__price">$ 1799,99</p>
                            <p class="card-item__promo">3 CUOTAS SIN INTERÉS</p>
                        </div>
                        </a>
                    </article>
                </li>
            </ul>
        </section>
    </main>


<%- include('../partials/footer'); -%>


    <!-- Vinculacion con Libreria Iconify 1.0.7 -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>

</body>

</html>